<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.programmierecke.radiodroid2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="net.programmierecke.radiodroid2.PlayerService"/>
        <activity
            android:name=".ActivityRadioStationDetail"
            android:label="Station" />

        <activity
            android:name="net.programmierecke.radiodroid2.ActivityPlayerInfo"
            android:label="PlayerInfo"
            android:noHistory="true" />

        <receiver
            android:name="net.programmierecke.radiodroid2.AlarmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name=".AlarmReceiver" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="net.programmierecke.radiodroid2.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>