<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.programmierecke.radiodroid2">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name="net.programmierecke.radiodroid2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="net.programmierecke.radiodroid2.PlayerService"/>
        <activity android:name="net.programmierecke.radiodroid2.RadioDroidStationDetail"
            android:parentActivityName="net.programmierecke.radiodroid2.MainActivity"
            android:label="Station">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.programmierecke.radiodroid2.MainActivity" />
        </activity>

        <receiver
            android:name="net.programmierecke.radiodroid2.AlarmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name=".AlarmReceiver" />
            </intent-filter>
        </receiver>
    </application>
</manifest>